.mainRow{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  box-sizing: border-box;
  gap: 10px;
}

.mainColumn{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 10px;
  box-sizing: border-box;
}

.padding_10{
  margin: 10px 0;
}